* {
  box-sizing: border-box;
  outline: none;
  transition: all 0.5s ease;
}
.my-boxshadow-black {
  -webkit-box-shadow: 0 0 7px 0px black;
  -moz-box-shadow: 0 0 7px 0px black;
  box-shadow: 0 0 7px 0px black;
}
html,
body,
.page-wrapper {
  height: 100%;
  width: 100%;
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}
body {
  display: table;
}
body .page-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.container {
  max-width: 25rem;
  width: 100%;
  margin: auto;
}
.container .header-top {
  text-align: center;
  -webkit-text-shadow: 0 0 30px rgba(0, 0, 0, 0.65);
  -moz-text-shadow: 0 0 30px rgba(0, 0, 0, 0.65);
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.65);
  font-size: 3rem;
  width: 100%;
}
.container .header-top .item-count {
  font-size: 4em;
}
.container .header-top .count-words {
  position: relative;
  top: -0.9em;
}
.container .header-bottom {
  float: left;
  width: 100%;
}
.container .header-bottom input[type="text"],
.container .header-bottom button {
  height: 2rem;
  padding: 1.7rem;
  border: 3px solid white;
  vertical-align: middle;
}
.container .header-bottom input[type="text"] {
  color: black;
  border-radius: 2rem;
  width: 70%;
  -webkit-box-shadow: inset 0 0 24px 0 black;
  -moz-box-shadow: inset 0 0 24px 0 black;
  box-shadow: inset 0 0 24px 0 black;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  float: left;
}
.container .header-bottom button {
  width: 2rem;
  border-radius: 100%;
  background-color: #78D000;
  -webkit-box-shadow: 0 0 7px 0px black;
  -moz-box-shadow: 0 0 7px 0px black;
  box-shadow: 0 0 7px 0px black;
  float: right;
}
.container .header-bottom button:hover {
  background: #95ff04;
}
.container .header-bottom button .down-arrow {
  left: -0.9rem;
  top: -0.8rem;
  position: relative;
}
.container #whiteline {
  height: 92%;
  border: 1px solid white;
  width: 0;
  right: 1.7rem;
  position: absolute;
  padding: 0;
  z-index: -1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.container ol {
  list-style: none;
  padding: 0;
  width: 100%;
  float: left;
  position: relative;
  display: none;
}
.container ol li {
  background: #78D000;
  border: 1px solid #78D000;
  padding: 1rem;
  float: right;
  width: 100%;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 0 7px 0px black;
  -moz-box-shadow: 0 0 7px 0px black;
  box-shadow: 0 0 7px 0px black;
}
.container ol li .fa-angle-down {
  float: right;
  right: 1.4rem;
  position: absolute;
}
.container ol li .controls,
.container ol li .fa-exclamation {
  display: none;
}
.container ol li:hover {
  -webkit-box-shadow: 0 0 7px 0px white;
  -moz-box-shadow: 0 0 7px 0px white;
  box-shadow: 0 0 7px 0px white;
  border: 1px solid white;
  background: #95ff04;
}
.container ol li.editing,
.container ol li.important {
  background: #E8E595;
  background: repeating-linear-gradient(45deg, #E8E595, #E8E595 5px, #dfdb6b 5px, #dfdb6b 10px);
  color: #808080;
  border-color: #E8E595;
  border-right: .5rem solid orange;
}
.container ol li.editing .fa-exclamation,
.container ol li.important .fa-exclamation {
  color: #BF0000;
  margin-right: 1em;
}
.container ol li.editing .controls,
.container ol li.important .controls {
  display: block;
}
.container ol li.item:not(.finished) .item-btn {
  width: 1rem;
  height: 1rem;
  border-radius: .2rem;
  background: rgba(250, 250, 250, 0.5);
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: inset 0px 0px 7px rgba(9, 22, 70, 0.83);
  -moz-box-shadow: inset 0px 0px 7px rgba(9, 22, 70, 0.83);
  box-shadow: inset 0px 0px 7px rgba(9, 22, 70, 0.83);
  margin-right: 1rem;
  opacity: .5;
}
.container ol li.editing {
  height: 7.2em;
}
.container ol li.editing .fa-angle-down {
  transform: rotate(180deg);
}
.container ol li.editing .controls button {
  margin: 1rem 0;
  padding: 0.6rem 0;
  color: white;
  width: 45%;
  background: #BF0000;
  font-size: 1.4rem;
  color: #cccccc;
}
.container ol li.editing .controls button:hover,
.container ol li.editing .controls .clicked {
  -webkit-box-shadow: inset 0 0 1em black;
  -moz-box-shadow: inset 0 0 1em black;
  box-shadow: inset 0 0 1em black;
  color: white;
}
.container ol li.editing .controls .delete {
  float: right;
}
.container ol li.finished {
  background-color: transparent;
  font-size: 2em;
  border: none;
  text-align: right;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-right: 1.3rem;
  -webkit-text-shadow: 0 0 30px rgba(0, 0, 0, 0.65);
  -moz-text-shadow: 0 0 30px rgba(0, 0, 0, 0.65);
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.65);
}
.container ol li.finished .fa-angle-down {
  display: none;
}
.container ol li.finished .item-name {
  padding-right: .5em;
}
.container ol li.finished::after {
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  background: white;
  display: inline-block;
  vertical-align: middle;
}
.container ol li.done {
  background-color: #785B00;
  border: 1px solid #785B00;
  width: 60%;
  font-style: italic;
  text-decoration: line-through;
}
.container ol li.done .important {
  display: none;
}
.container ol li.done button.delete {
  width: 100%;
  font-style: normal;
}
.container ol li.done:hover {
  -webkit-box-shadow: 0 0 7px 0px white;
  -moz-box-shadow: 0 0 7px 0px white;
  box-shadow: 0 0 7px 0px white;
  border: 1px solid white;
  background: #ab8200;
}
.container ol li.done .item-btn {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.83);
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.83);
  margin-right: 1rem;
  opacity: .5;
}
video#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
