.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.text-shadow (@string) {
	-webkit-text-shadow: @string;
	-moz-text-shadow:    @string;
	text-shadow:         @string;
}

* {
	//border: 1px solid orange;
	box-sizing: border-box;
	outline: none;
}

@green: #78D000;
@brown: #785B00;
@red: #BF0000;
@yellow: #E8E595;
.my-boxshadow-black {
	.box-shadow(0 0 7px 0px black);
}

html, body, .page-wrapper {
	height: 100%;
	width: 100%;
	color: white;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	letter-spacing: -1px;
	-webkit-font-smoothing: antialiased;
}

body {
	display: table;
	.page-wrapper {
		display: table-cell;
		vertical-align: middle;
	}
}

.container {
	max-width: 25rem;
	width: 100%;
	margin: auto;

	.header-top {
		text-align: center;
		.text-shadow(0 0 30px rgba(0, 0, 0, 0.65));
		font-size: 3rem;
		width:100%;

		.item-count {
			font-size: 4em;
		}

		.count-words {
			position: relative;
			top: -0.9em;
			margin-left: -0.6em;
		}
	}
	.header-bottom {

		float: left;
		width:100%;
		
		input[type="text"], button {
			height: 2rem;
			padding: 1.7rem;
			border: 3px solid white;
			vertical-align: middle;
		}

		input[type="text"]{
			color: black;
			border-radius: 2rem;
			width: 70%;
			.box-shadow(inset 0 0 24px 0 black);
			background-color: rgba(255, 255, 255, 0.7);
			font-size: 1.5rem;
			float: left;
		}

		button {
			width: 2rem;
			border-radius: 100%;
			background-color: @green;
			.my-boxshadow-black;
			float: right;

			&:hover {
				background: lighten(@green, 10%);
			}

			.down-arrow {
			    left: -0.9rem;
    			top: -0.8rem;
    			position: relative;
			}
		}
	}

	#whiteline {
		height: 92%;
		border: 1px solid white;
		width: 0;
		right: 1.7rem;
    	position: absolute;
    	padding: 0;
    	z-index: -1;
    	.box-shadow(none);
	}

	ol {
		list-style: none;
		padding: 0;
		width: 100%;
		float:left;
		position: relative;

		li {
			background: @green;
			border: 1px solid @green;
			padding: 1rem;
			float: right;
			width: 100%;
			margin-bottom: 1rem;
			.my-boxshadow-black;

			.fa-angle-down {
				float: right;
    			right: 1.4rem;
    			position: absolute;
			}

			//&:not(.finished)::before {

			&:hover {
				.box-shadow(0 0 7px 0px white);
				border: 1px solid white;
				background: lighten(@green, 10%);
			}

			&.editing, &.important {
				background: @yellow;
				color: darken(white, 50%);
				border-color: @yellow;
				border-right: .5rem solid orange;

				.fa-exclamation {
					color: @red;
					margin-right: 1em;
				}

				&:hover {
				.box-shadow(0 0 7px 0px white);
				background: lighten(@yellow, 5%);
				}
			}

			&.item:not(.finished) {
				.item-btn {
					width: 1rem;
					height: 1rem;
					border-radius: .2rem;
					background: rgba(250, 250, 250, .5);
					display: inline-block;
					vertical-align: middle;
					.box-shadow(inset 0px 0px 7px rgba(9, 22, 70, 0.83));
					margin-right: 1rem;
					opacity: .5;
				}
			}
			
			&.editing {
				
				height: 7.2em;

				.fa-angle-down {
					transform: rotate(180deg);
				}

				.controls {

					button {
						margin: 1rem 0;
						padding: 0.6rem 0;
						color: white;
						width: 45%;
						background: @red;
						font-size: 1.4rem;
						color: darken(white, 20%);
					}

					button:hover, .clicked {
						.box-shadow(inset 0 0 5px black);
						color: white;
					}

					.delete {
						float: right;
					}
				}
			}

			&.finished {
				background-color: transparent;
				font-size: 2em;
				border: none;
				text-align: right;
				.box-shadow(none);
				padding-right: 1.3rem;
				.text-shadow(0 0 30px rgba(0, 0, 0, 0.65));

				.fa-angle-down {
					display: none;
				}
				
				&::after {
					content:"";
					width: 0.9rem;
					height: 0.9rem;
					border-radius: 100%;
					background: white;
					display: inline-block;
					vertical-align: middle;
				}
				
			}

			&.done {
				background-color: @brown;
				border: 1px solid @brown;
				width: 60%;
				font-style: italic;
				text-decoration: line-through;

				&:hover {
					.box-shadow(0 0 7px 0px white);
					border: 1px solid white;
					background: lighten(@brown, 10%)
				}

				.item-btn {
				content:"";
				width: 1rem;
				height: 1rem;
				border-radius: 100%;
				display: inline-block;
				vertical-align: middle;
				.box-shadow(inset 0px 0px 12px rgba(0, 0, 0, 0.83));
				margin-right: 1rem;
				opacity: .5;
				}
			}
		}
	}
}

video#bg-video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}